*
{
    margin: 0;
    padding: 0;
}

html, body {
  overflow: hidden;
  background-color: black;
}

body {
  position: relative
}

.oval-button {
  position: fixed;
  bottom: 20px;
  transform: translateX(-50%);
  width: 120px;
  height: 60px;
  border-radius: 30px;
  background-color: yellow;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  z-index: 99999;
}

.oval-button-forward{
  left: 80%;
}

.oval-button-backward{
  left: 20%;
}

.oval-button:hover {
  
  @media (min-width: 900px) {
    background-color: white;
  }

}